body { 
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #6200ea;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}

.info {
    margin-top: 20px;
}

a {
    color: black; /* Cambia el color del enlace a negro */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

a:hover {
    text-decoration: underline; /* Agrega un subrayado al pasar el cursor por encima */
}
